<p style="color: green"><%= notice %></p>

<div id="posts" class="d-flex justify-content-center mt-4">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
